
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}
.section-title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: crimson;
}

.brand{
  margin-left: 10vw;
  transition: .3s;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: crimson;
}

a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.mycontainer {
  /* width: 100%; */
  /* height: 100vh; */
  background-image: linear-gradient(
    to bottom,
    #010307 20%,
    #09142e 40%,
    #081534 60%,
    #071639 80%,
    #07173f 100%
  );
  /* overflow:hidden; */
  /* border: 3px solid green; */
}
.nav {
  position: absolute;
  z-index: 1030;
  /* margin: 10px; */
  /* width: 95vw; */
}

.dot_svg{
  color: white;
  margin: 15px;
  float:right;
  display: none;

}

.logo {
  margin: 10px 10px 10px 40px;
  font-weight: 900;
  font-size: 25px;
  color: white;
}

.alloptions {
  margin: 15px;
  width: 80vw;
}


.options {
  text-decoration: none;
  color: white;
  margin: 0px 10px 0px 10px;
  padding: 5px 10px 5px 10px;
  font-weight: 300;
  border-radius: 25px;
  float: right;

  transition: 0.3s;

  /* opacity: 0.5; */
}

.options:hover {
  background-color: white;
  color: black;
}












#header {
  position: fixed;
  z-index: 1030;
  left: 0;
  top: 0;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: .3s ease background-color;
  width: 100vw;

}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: crimson;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
















.front_div {
  position: relative;

  min-height: 1000px;
  overflow: hidden;
  text-overflow: unset;
}

.fd_img {
  width: 100vw;
  position: absolute;
}

.moon {
  mix-blend-mode: screen;
}

.fd_content {
  position: absolute;
  color: white;
  margin-top: 15vw;
  margin-left: 31vw;
  font-size: 7vw;
  font-weight: 400;
  white-space: nowrap;
}

.fd_btn {
  text-decoration: none;
  background-color: white;
  color: black;
/*   margin: 0px 10px 0px 10px; */
  padding: 5px 10px 5px 10px;
  font-weight: 300;
  border-radius: 25px;
  float: right;
  font-size: small;
  
  transition: 0.3s;
}

.big_btn{
  font-size: large;
}

.con2 {
  margin-top: 25vw;
  margin-left: 45vw;
  z-index: 1030;

}

.parallex1 {
  background: url("../images/stars.png");

  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallex2 {
  background: url("../images/moon.png");

  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallex3 {
  background: url("../images/mountains_behind.png");

  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* line-height: 500px;  */

  text-align: center;
  color: red;
  overflow: hidden;
  /* position:relative;   */
}

.front_mount {
  width: 100vw;
  position: absolute;

  background-image: linear-gradient(to top, #071639 , transparent 20%),  url("../images/mountains_front.png");

  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow : 5px 40px 40px #071638;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* .header {
  position: absolute;
  top: 35%;
  left: 40%;
  color: white;
  font-size: 7vw;
  font-weight: 600;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

.horizontal {
  position: fixed;
  /* width: 50px; */
  /* background: red; */
  left: 0;
  /* top: 50px; */
}


.sec_div{
  min-height: 500px;
  color: white;
  padding: 5vw;
}
@media only screen and (max-width: 600px) {
  .alloptions {
    display: none;
  }

  .dot_svg{
    display: block;
  }
}


@media only screen and (max-width: 900px) {

  .fd_content{
    margin-top: 40vh;
    margin-left: 35vw;
  }
  .con2{
    margin-top: 50vh;
    margin-left: 33%;

  }

  .brand{
    margin-left:0;
  }
  
/*   .fd_btn{
    margin: 0px 10px 0px 0px;
  } */
}




















#services{
  color: white;
}


#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#services .service-top {
  max-width: 500px;
  margin: 0 auto;
}
#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#services .service-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .9;
  z-index: -1;
}
#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#services .service-item p {
  color: white;
  text-align: left;
}
